/bin/*
/conf/*
/docs/*
/eclipse/*
/forge/*
/jars/*
/lib/*
/logs/*
/modsrc/*
/reobf/*
/runtime/*
/temp/*

/src/minecraft/*
!/src/minecraft/awesome
!/src/minecraft/awesome/*

/src/minecraft_server/*
/src/common/*
!/src/common/mcmod.info


*.bat
*.sh